{% extends 'base_profile.html' %}

{% block style %}
    <style>
    table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 80%;
    }

    td, th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
    }

    tr:nth-child(even) {
      background-color: #dddddd;
    }
    </style>
{% endblock %}

{% block title %}Author List{% endblock %}

{% block user_name %}Hi {{ user.username }}!{% endblock %}

{% if author_list %}
    {% block content %}
        <h2>Author List <a href="{% url 'author_add' %}">[Add]</a></h2>
        <table>
            <tr>
                <th>Name</th>
                <th>Number of Publications</th>
            </tr>
        {% for author in author_list %}
            <tr>
                <td>{{ author.name }}</td>
                <td>{{ author.book_number }}</td>
            </tr>
        {% endfor %}
        </table>
    {% endblock %}
{% else %}
    <h2>There is no author added yet!</h2>
{% endif %}
