{% extends 'base_profile.html' %}

{% block style %}
    <style>
    table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 80%;
    }

    td, th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
    }

    tr:nth-child(even) {
      background-color: #dddddd;
    }
    </style>
{% endblock %}

{% block title %}Book List{% endblock %}

{% block user_name %}Hi {{ user.username }}!{% endblock %}

{% if book_list %}
    {% block content %}
        <h2>Book List <a href="{% url 'book_add' %}">[Add]</a></h2>
        <table>
            <tr>
                <th>Name</th>
                <th>Author</th>
                <th>Publisher</th>
            </tr>
        {% for book in book_list %}
            <tr>
                <td>{{ book.name }}</td>
                <td>{{ book.author }}</td>
                <td>{{ book.publisher }}</td>
            </tr>
        {% endfor %}
        </table>
    {% endblock %}
{% else %}
    <h2>There is no book added yet!</h2>
{% endif %}
